.button {
  background-color: @basic;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: darken(saturate(spin(@basic, -0.2497), 3.5440), 4.3137);
  }

  &--secondary {
    background-color: @lightgray;
    color: @darkgray;
  }
}
