.invite-card {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: @black;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      width: 150px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__address {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    color: @darkgray;

    @media (min-width: @tablet-width) {
      width: 160px;
      text-align: right;
      font-size: 16px;
    }
  }
}
