.main-card {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: @white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

  &__background {
    min-height: 302px;
    width: 100%;
    padding-left: @padding-mobile;
    padding-right: @padding-mobile;
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to left, fade(@basic, 85%), fade(@basic, 85%)), url("../../img/main-card-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 375px;

    @media (min-width: @tablet-width) {
      padding-top: 62px;
      align-items: flex-start;
      background-image: none;
      padding-left: @padding-tablet;
      padding-right: @padding-tablet;
      order: 1;
      min-height: auto;
    }

    @media (min-width: @desktop-width) {
      padding-left: @padding-desktop;
      padding-right: @padding-desktop;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 25px;
    text-align: center;

    @media (min-width: @tablet-width) {
      font-size: 60px;
      line-height: 60px;
      color: @black;
      text-align: left;
      margin-bottom: 41px;
      margin-left: 87px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 20px;
      color: @black;
      text-align: left;
      margin-bottom: 49px;
      margin-left: 87px;
    }
  }

  &__image {
    height: 270px;
    color: @black;
    margin-top: -135px;

    @media (min-width: @tablet-width) {
      height: 609px;
      order: 3;
      margin: 0;
      z-index: -1;
      margin-top: -80px;
    }

    @media (min-width: @desktop-width) {
      height: 499px;
    }
  }

  &__button {
    width: 100%;

    @media (min-width: @tablet-width) {
      width: 244px;
      font-size: 20px;
      line-height: 20px;
      order: 2;
      align-self: flex-start;
      margin-left: 87px;
    }
  }
}
