.main-nav {
  outline: 3px solid rgb(69, 43, 219);
  outline-offset: -3px;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: 3px solid rgb(219, 43, 125);
    outline-offset: -3px;
  }

  &__item {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  a {
    color: @black;
    text-decoration: none;
  }
}
