.main-footer {
  background-color: @lightgray;
  width: 320px;
  margin: 0 auto;
  // outline: 1px dashed black;
  // outline-offset: -1px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 100vw;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 11px;
    padding-left: @padding-mobile;
    padding-right: @padding-mobile;

    @media (min-width: @tablet-width) {
      padding-left: @padding-tablet;
      padding-right: @padding-tablet;
      padding-top: 58px;
      padding-bottom: 55px;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: @desktop-width) {
      margin: 0 auto;
      padding-left: @padding-desktop;
      padding-right: @padding-desktop;
      width: 1220px;
    }
  }

  &__logo {
    padding: 10px;
    margin-bottom: 16px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    @media (min-width: @tablet-width) {
      margin: 0;
      width: auto;
    }
  }

  &__social {
    width: 100%;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 6px;
    margin-bottom: 12px;
    box-sizing: border-box;
    // outline: 1px dashed black;
    // outline-offset: -1px;

    @media (min-width: @tablet-width) {
      box-sizing: content-box;
      margin: 0;
      width: auto;
    }
  }

  &__partner {
    width: 100%;
    padding: 10px;

    @media (min-width: @tablet-width) {
      margin: 0;
      width: auto;
    }
  }
}
