.main-container {
  padding-left: @padding-mobile;
  padding-right: @padding-mobile;
  width: 280px;
  margin: 0 auto;
  // max-width: 100%;
  // min-width: 280px;
  outline: 1px dashed black;
  outline-offset: -1px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-left: @padding-tablet;
    padding-right: @padding-tablet;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding-left: @padding-desktop;
    padding-right: @padding-desktop;
    width: 1220px;
  }
}
