.main-header {
  padding-left: @padding-mobile;
  padding-right: @padding-mobile;
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  outline: 3px solid rgb(78, 219, 43);
  outline-offset: -3px;

  &__logo {
    height: 65px;
    outline: 3px solid rgb(219, 113, 43);
    outline-offset: -3px;
    margin-right: 40px;

    img {
      height: 65px;
    }
  }
}
