.main-footer {
  background-color: @lightgray;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: @padding-mobile;
  padding-right: @padding-mobile;
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    padding: 10px;
    margin-bottom: 22px;
  }

  &__social {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }

  &__partner {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
}
