.nutrition-programs {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @darkgray;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    background-color: @lightgray;
    padding: 21px 20px 18px 20px;

    @media (min-width: @tablet-width) {
      padding: 77px 316px 53px 53px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: @black;
    margin: 0;
    margin-bottom: 29px;
    padding-left: 71px;
    position: relative;

    @media (min-width: @tablet-width) {
      font-size: 36px;
      line-height: 36px;
      padding-left: 0;
    }

    &--slim::before {
      content: "";
      width: 50px;
      height: 53px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url("../../img/image-slim.svg");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: @tablet-width) {
        width: 200px;
        height: 211px;
        background-size: 200px 211px;
        transform: translateY(0);
        top: 0;
        left: 394px;
      }
    }

    &--pro::before {
      content: "";
      width: 67px;
      height: 50px;
      display: block;
      position: absolute;
      top: 50%;
      left: -9px;
      transform: translateY(-50%);
      background-image: url("../../img/image-pro.svg");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: @tablet-width) {
        width: 268px;
        height: 200px;
        background-size: 268px 200px;
        transform: translateY(0);
        top: 0;
        left: 359px;
      }
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 22px;
    border-bottom: 1px solid @specialgray-2;

    @media (min-width: @tablet-width) {
      border: none;
      font-size: 16px;
      line-height: 24px;
      color: @black;
    }
  }

  &__link {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: @black;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding-right: 57px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }

    &::after {
      content: "";
      width: 32px;
      height: 10px;
      display: block;
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      background-image: url("../../img/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
