.nutrition-form {
  &__group {
    border: none;
    padding: 0;
  }

  &__legend {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: @black;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__label {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: @darkgray;
    text-transform: uppercase;
  }

  &__input {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: @darkgray;
    text-transform: uppercase;

    &--comment {
      font-size: 16px;
      line-height: 18px;
    }

    &--comment::placeholder {
      color: @darkgray;
    }
  }

  &__button {
    border: none;
  }

  &__note {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: @black;
  }
}
