.nutrition-form {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @darkgray;
  text-transform: uppercase;
  outline: 1px dashed blue;
  outline-offset: -1px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__group {
    border: none;
    padding: 0;
    margin: 0;
    padding-bottom: 23px;
    outline: 1px solid red;
    outline-offset: -2px;
  }

  &__legend {
    text-transform: none;
    font-size: 24px;
    line-height: 26px;
    color: @black;
    padding: 0;
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 1px solid black;
    outline-offset: -1px;
  }

  &__item {
    margin-bottom: 14px;
    outline: 1px solid red;
    outline-offset: -2px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    display: flex;
    align-items: center;

    span {
      white-space: nowrap;
    }
  }

  // Для позиционирования иконок
  &__input-wrapper {
    position: relative;
    width: 100%;
    margin-left: 12px;
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
  //

  &__input {
    font: inherit;
    text-transform: inherit;
    color: inherit;
    box-sizing: border-box;
    border: 1px solid @specialgray-6;
    padding: 13px 15px;
    margin-left: 12px;
    width: 100%;

    &:hover {
      border-color: @specialgray;
    }

    &:focus {
      outline: 2px solid @darkgray;
      outline-offset: -2px;
    }

    &:not(:placeholder-shown):invalid {
      outline: 2px solid @error-color;
      outline-offset: -2px;
    }

    &--email {
      padding-right: 37px;
      margin: 0;
    }

    &--email:focus + .nutrition-form__input-icon * {
      stroke: @basic-color;
    }

    &--email:not(:placeholder-shown):invalid + .nutrition-form__input-icon * {
      stroke: @error-color;
    }

    &--phone {
      padding-right: 37px;
      margin: 0;
    }

    &--phone:focus + .nutrition-form__input-icon * {
      fill: @basic-color;
    }

    &--phone:not(:placeholder-shown):invalid + .nutrition-form__input-icon * {
      fill: @error-color;
    }

    &--comment {
      margin: 0;
      resize: none;
      height: 151px;
      padding: 9px 10px 9px 15px;
    }
  }

  &__button {
    border: none;
    cursor: pointer;
  }

  &__note {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: @black;
    text-align: center;
    text-transform: none;

    @media (min-width: @tablet-width) {
      font-size: 16px;
    }
  }
}

.nutrition-form__group--extra {
  .nutrition-form__list {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 25px;
    }
  }

  .nutrition-form__item {
    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }
}

.nutrition-form__group--type-of-program {
  width: 100%;
  align-self: center;
  padding-left: @padding-mobile;
  padding-right: @padding-mobile;
  padding-top: 28px;
  padding-bottom: 25px;
  border-top: 1px solid @specialgray-2;
  border-bottom: 1px solid @specialgray-2;
}
