.page {
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  &__body {
    min-height: 100%;
    margin: 0;
    color: @black;
    background-color: @white;
  }
}
