.partner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  &__title {
    font-size: 16px;
    color: @darkgray;
  }

  &__logo {
    color: @icongray;
  }
}
