.present-card {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  background-color: fade(@basic-color, 85%);
  background-image: linear-gradient(to left, fade(@basic-color, 85%), fade(@basic-color, 85%)), url("../../img/present-card-mobile.jpg");
  background-repeat: no-repeat;
  background-size: auto 290px;
  background-position: center;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 35px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to left, fade(@basic-color, 85%), fade(@basic-color, 85%)), url("../../img/present-card-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    padding: 20px 124px 20px 77px;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    background-image: linear-gradient(to left, fade(@basic-color, 85%), fade(@basic-color, 85%)), url("../../img/present-card-tablet.jpg");
    background-size: auto 200px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to left, fade(@basic-color, 85%), fade(@basic-color, 85%)), url("../../img/present-card-tablet@2x.jpg");
    }
  }

  &__text {
    text-align: center;
    margin: 0;

    @media (min-width: @tablet-width) {
      width: 161px;
      text-align: left;
    }
  }

  &__icon {
    margin-bottom: 48px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }
}
