// Viewports

@tablet-width: 768px;
@desktop-width: 1440px;

// Colors

@darkgray: #444444;
@specialdarkgray: #222222;
@lightgray: #f2f2f2;
@lightgray-2: #eaeaea;
@specialgray: #cdcdcd;
@green: #68b738;
@black: #000000;
@white: #ffffff;
